fastapi==0.109.0
uvicorn==0.27.0
python-multipart==0.0.9
insightface==0.7.3
opencv-python-headless==4.9.0.80
numpy==1.26.3
faiss-cpu==1.7.4
python-jose[cryptography]==3.3.0
celery==5.3.6
redis==5.0.1
gdown
onnxruntime
pytest>=8.0.0
httpx>=0.27.0
